<h2>List of files</h2>
<table>
  <tr>
    <th>Download</th>
    <th>Uploaded</th>
    <th>Delete</th>
  </tr>
  <% @files.each do |file| %>
    <tr>
      <td><a href="/<%= file.id %>" title="<%= file.filename %>"><%= file.filename %></a></td>
      <td><%= file.created_at %></td>
      <td><a href="/<%= file.id %>/delete" title='Delete file'>Delete</a></td>
    </tr>
  <% end %>
</table>
<h3>Add file</h3>
<form name="new_file" id="new_file" method="POST" enctype="multipart/form-data">
  <input type="file" name="file"/><br/>
  <input type="submit" value="Upload"/>
</form>
