- if @files.empty?
  %h1 No files
- else
  .list
    %h1 List of files
    %table{ cellspacing: 0 }
      %tr
        %th File
        %th Upload
        %th Downloaded
        %th Delete
      - @files.each do |file|
        %tr
          %td.filename
            %a{ :href => "/#{file.sha}", :title => file.filename }= file.filename
            = "(#{file.filesize/1024} Kb)"
          %td.created_at= file.created_at.strftime("%d %b")
          %td.downloads= file.downloads
          %td.delete
            %a{ :href => "/#{file.sha}/delete", :title => "Delete" } Delete
.upload
  %h1 Add
  %form{ :name => "new_file", :enctype => "multipart/form-data", :method => "POST", :action => "/" }
    %input{ :name => "file", :type => "file" }
    %br
    %input{ :type => "submit", :value =>   "Upload" }

